<h1>Welcome to Projects</h1>

<p>
  Hello <%= @user.first_name %>,
</p>

<%= t(".body", confirmation_url: confirmation_url(token: @user.token)) %>

<p>
  Use the email address
  <%= @user.email %> to sign in or reset your password in the future.
</p>
